@(person: Person)

<html lang="en">
    <head>
        <title>Welcome to Play Framework</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
    </head>
    <nav class="navbar navbar-inverse bg-inverse">
          <span class="navbar-text">
            <a href='@routes.Home.index'>Home</a>
        </span>
    </nav>
    <body>
        <div class="container">
            <h1>
                Success
            </h1>
            <p>
                @person.toString()
            </p>
            <p>
                <a href='@routes.Home.index' class="btn btn-info">Try again</a>
            </p>
        </div>
    </body>
</html>