@(user: User)

<html lang="en">
    <head>
        <title>Welcome to Play Framework</title>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script
    </head>
    <nav class="navbar navbar-inverse bg-inverse">
          <span class="navbar-text">
            <a href='@routes.Home.index'>Home</a>
        </span>
    </nav>
    <body>
        <div class="container">
            <h1>
                Success
            </h1>
            <p>
                Thank you @user.toString(). You have registered successfully
            </p>
            <p>
                <a href='@routes.Home.index' class="btn btn-info" id="success_tryagain">Finish</a>
            </p>
        </div>
    </body>
</html>