@(personForm: Form[models.Person])(errors: String)
@import helper._

<html lang="en">
    <head>
        <title>Welcome to Play Framework</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
    <nav class="navbar navbar-inverse bg-inverse">
          <span class="navbar-text">
            <a href='@routes.Home.index'>Home</a>
        </span>
    </nav>
    <body>
        <div class="container">
            <h1>
                Welcome
            </h1>
            <p>
                Please enter your details to register
            </p>
            @if(errors != null){
            <div class="alert alert-danger">
                <strong>@errors</strong>
            </div>
            }
            @form(action = routes.Home.submit, args = 'id -> "personForm") {

                <div>
                    @inputText(
                    field = personForm("firstname"),
                    args = '_label -> "First name(s):", 'placeholder -> "Sam", '_showConstraints -> false)
                </div>

                <div>
                    @inputText(
                    field = personForm("lastname"),
                    args = '_label -> "Last name:", 'placeholder -> "Smith", '_showConstraints -> false)
                </div>

                <p class="buttons">
                    <button type="submit" class="btn btn-primary">Register</button>
                <p>
            }
        </div>
    </body>
</html>