@(userForm: Form[models.User])(errors: String)
@import helper._

<html lang="en">
    <head>
        <title>Welcome to Play Framework</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.2.1.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/main.js")"></script
    </head>
    <nav class="navbar navbar-inverse bg-inverse">
          <span class="navbar-text">
            <a href='@routes.Home.index'>Home</a>
        </span>
    </nav>
    <body>
        <div class="container">
            <h1>
                Welcome
            </h1>
            <p>
                Please enter your details to register
            </p>
            @if(errors != null){
                <div class="alert alert-danger">
                    <strong>@errors</strong>
                </div>
            }
            @form(action = routes.Home.submit, args = 'id -> "userForm") {

                <div class="input-wrapper">
                    @inputText(
                    field = userForm("username"),
                    args = '_label -> "Desired username:", '_showConstraints -> false)
                </div>

                <div class="input-wrapper">
                    @inputText(
                    field = userForm("firstname"),
                    args = '_label -> "First name(s):", 'placeholder -> "Sam", '_showConstraints -> false)
                </div>

                <div class="input-wrapper">
                    @inputText(
                    field = userForm("lastname"),
                    args = '_label -> "Last name:", 'placeholder -> "Smith", '_showConstraints -> false)
                </div>

                <p class="buttons">
                    <button type="submit" id="welcome_submit" class="btn btn-primary" >Register</button>
                <p>
            }
        </div>
    </body>
</html>